body {

    margin: 0;
    padding: 0;
    user-select: none;
    user-zoom: none;
    -webkit-user-select: none;
    -webkit-user-zoom: none;
    -webkit-user-drag: none;

}

h1, h2, h3, h4, h5, h6 {

    font-family: monospace;
    line-height: 1.5;
    margin: 0;

}

p {

    font-family: monospace;
    line-height: 1.5;
    margin: 0;

}

i {

    font-family: monospace;
    line-height: 1.5;
    margin: 0;

}

a {

    font-family: monospace;
    line-height: 1.5;
    margin: 0;
    outline: none;
    text-decoration: none;

}

button {

    font-family: monospace;
    border: none;
    outline: none;
    text-decoration: none;

}


input {

    font-family: monospace;
    border: none;
    outline: none;
    text-decoration: none;

}

textarea {

    font-family: monospace;
    border: none;
    outline: none;
    text-decoration: none;

}