DirectoryIndex @AppPMSP.php

Options -Indexes

<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}PMSP.php -f
    RewriteRule ^(.*) $1PMSP.php
    
</IfModule>
